@font-face {
  font-family: 'Lora';
  src: url('@/assets/fonts/Lora.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('@/assets/fonts/NunitoSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
    --primary-color: #61227D;
    --secondary: #ffa500;
    --purple-light: #F8EAFF;
    --gray-2: #F7F7F7;
    --gray-3: #DDDDDD;
    --gray-5: #C6C6C6;
    --gray-6: #9C9C9C;
    --gray-7: #7D7D7D;
    --gray-8: #5E5E5E;
    --gray-9: #3E3E3E;
    --white: #FFFFFF;
    --black: #000000;

    --font-lora: 'Lora', serif;
    --font-nunito-sans: 'NunitoSans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-nunito-sans);
}

a {
    text-decoration: none;
}

.text-gray-2 {
    color: var(--gray-2);
}
.text-gray-3 {
    color: var(--gray-3);
}
.text-gray-5 {
    color: var(--gray-5);
}
.text-gray-5{
    color: var(--gray-5);
}
.text-gray-6{
    color: var(--gray-6);
}
.text-gray-7 {
    color: var(--gray-7);
}
.text-gray-8 {
    color: var(--gray-8);
}
.text-gray-9 {
    color: var(--gray-9);
}

.text-white {
    color: var(--white);
}

.text-primary {
    color: var(--primary-color);
}
.text-secondary {
    color: var(--secondary-color);
}

.text-purple-light {
    color: var(--purple-light);
}

.bg-gray-2 {
    background-color: var(--gray-2);
}
.bg-gray-3 {
    background-color: var(--gray-3);
}
.bg-gray-5 {
    background-color: var(--gray-5);
}
.bg-gray-5{
    background-color: var(--gray-5);
}
.bg-gray-6{
    background-color: var(--gray-6);
}
.bg-gray-7 {
    background-color: var(--gray-7);
}
.bg-gray-8 {
    background-color: var(--gray-8);
}
.bg-gray-9 {
    background-color: var(--gray-9);
}

.bg-white {
    background-color: var(--white);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-purple-light {
    background-color: var(--purple-light);
}

.w-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.heading-bold-32 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    font-family: var(--font-lora)
}

.heading-bold-24 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    font-family: var(--font-lora)
}

.form-title {
    font-weight: 700;
    font-family: var(--font-lora);
    font-size: 24px;
    line-height: 36px;
}

.form-desc {
    font-weight: 400;
    font-family: var(--font-nunito-sans);
    font-size: 14px;
    line-height: 22px;
}

@media (min-width: 768px) {
    .form-title {
        font-size: 32px;
        line-height: 48px;
    }
    .form-desc {
        font-size: 16px;
        line-height: 24px;
    }
}

.heading-bold-20 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    font-family: var(--font-lora)
}

.heading-bold-18 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    font-family: var(--font-lora)
}

.body-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.body-2 {
    font-weight: 400;
    font-size: 14px;    
    line-height: 22px;
}

.body-2.md:body-1 {
    font-size: clamp(14px, 4vw, 16px);
}

.button-text-large {
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
}

.subtitle-1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.check-box {
    background-color: white;
    border: 2px solid var(--gray-7);
    width: 18px;
    height: 18px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.check-box.checked {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.check-box.indicator {
    width: 9px;
    height: 9px;
    background-color: #ffffffee;
    border: none;
}